.navbar {
    background: var(--brown);
    padding: 12px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    border-bottom: 3px solid var(--accent);
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    margin: 0 12px;
    transition: .2s;
}

.navbar a:hover {
    color: var(--accent);
    transform: translateY(-1px);
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 14px;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 14px;
}

.logout-btn {
    background: var(--danger);
    padding: 6px 12px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
}
.logout-btn:hover {
    background: #7e2d36;
}
